.headerActive-bg__gradient
  width: 100%
  height: 14rem
  background: #ffffff

.headerActive-bg
  width: 100%
  height: 45rem
  background: url("../../img/bg_headerActive.png") no-repeat center/100%
  background-size: cover
  .headerActive-bg-text
    margin-top: 15rem
    color: #ffffff
    font-size: 6rem
    font-weight: 700
    text-align: center

@media screen and (max-width: 768px)
  .headerActive-bg__gradient
    //height: 14rem
  .headerActive-bg
    .headerActive-bg-text
      display: none
